/* font styling for all text */
* {
  font-family: 'Owen Pro', sans-serif;
  font-style: normal;
  line-height: normal;
}

/* nav bar  */
.nav-background {
  background: #FFE098;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
}

.nav-link {
  color: #656565;
}

/* background and boxes for sections */
.main-background {
  background: #F5F5F5;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-box {
  display: block;
  padding-top: 15%;
  padding-bottom: 15%;
}

.contact-box {
  display: block;
  padding-top: 15%;
  padding-bottom: 40%;
}

/* home image and text */
.name-header {
  color: #3D375D;
  font-size: 3.5rem;
  font-weight: 600;
  padding-left: 10px;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 10000px
}

.name-subheader {
  color: #629FCB;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
}

.name-subheader-child {
  color: #7B7CB2;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: right;
  padding-right: 10px;
}

/* text for about section */
.title-text {
  color: #656565;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.about-text {
  color: #3D375D;
  text-align: center;
}

.normal-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.bold-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.sub-text {
  font-size: 1.25rem;
  font-weight: 300;
}

/* images for about section */
.company-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  max-width: 150px;
}

.company-image-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  max-width: 100px;
}

.company-image-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 250px;
}

/* contact text */
.contact-text {
  color: #3D375D;
  text-align: center;
  font-size: 1.35rem;
  font-weight: 400;
  justify-content: center;
}

/* footer */
.footer {
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #C5E7FF;
  padding-top: 10px;
}

.footer-text {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-left {
  color: #3D375D;
}

.footer-right {
  color: #656565;
}

.footer-middle {
  flex: auto;
}